:org.apache.felix.configadmin.revision:=L"2"
Component.target="(&(enabled\=true)(!(service.pid\=Controller.Api.ModbusTcp.ReadOnly.4fe86eb3-caa3-4494-8db3-6fac523fd2ab))(|(id\=_sum)))"
_lastChangeAt="2022-07-02T18:01:58"
_lastChangeBy="UNDEFINED"
alias="Modbus/TCP\ lesend"
id="ctrlApiModbusTcp0"
service.factoryPid="Controller.Api.ModbusTcp.ReadOnly"
service.pid="Controller.Api.ModbusTcp.ReadOnly.4fe86eb3-caa3-4494-8db3-6fac523fd2ab"
