:org.apache.felix.configadmin.revision:=L"3"
_lastChangeAt="2022-07-02T19:27:46"
_lastChangeBy="UNDEFINED"
alias="Core.AppManager"
apps="[\n\ \ {\n\ \ \ \ \"appId\":\ \"App.Api.ModbusTcp.ReadOnly\",\n\ \ \ \ \"alias\":\ \"\",\n\ \ \ \ \"instanceId\":\ \"ccfdb1be-9d7f-40d0-b2fa-cf3eda686f78\",\n\ \ \ \ \"properties\":\ {\n\ \ \ \ \ \ \"CONTROLLER_ID\":\ \"ctrlApiModbusTcp0\"\n\ \ \ \ }\n\ \ },\n\ \ {\n\ \ \ \ \"appId\":\ \"App.Api.RestJson.ReadOnly\",\n\ \ \ \ \"alias\":\ \"\",\n\ \ \ \ \"instanceId\":\ \"23c9f693-78dc-4fe1-bdb0-f3186f3ca85f\",\n\ \ \ \ \"properties\":\ {\n\ \ \ \ \ \ \"CONTROLLER_ID\":\ \"ctrlApiRest0\"\n\ \ \ \ }\n\ \ }\n]"
id="_appManager"
service.bundleLocation="?"
service.pid="Core.AppManager"
